@import url('https://fonts.googleapis.com/css?family=Ubuntu:200,300,400,400i,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cairo:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
@font-face {
  font-family: 'Inter UI Regular';
  font-style: normal;
  font-weight: 400;
  src: url('Inter-UI-Regular.woff') format('woff');
  font-display: fallback;
}
@font-face {
  font-family: 'Inter UI Regular Italic';
  font-style: italic;
  font-weight: 400;
  src: url('Inter-UI-Italic.woff') format('woff');
  font-display: fallback;
}
@font-face {
  font-family: 'Inter UI SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('Inter-UI-SemiBold.woff') format('woff');
  font-display: fallback;
}
@font-face {
  font-family: 'Inter UI SemiBold Italic';
  font-style: italic;
  font-weight: 600;
  src: url('Inter-UI-SemiBoldItalic.woff') format('woff');
  font-display: fallback;
}
@font-face {
  font-family: 'Inter UI Bold';
  font-style: normal;
  font-weight: 700;
  src: url('Inter-UI-Bold.woff') format('woff');
  font-display: fallback;
}
@font-face {
  font-family: 'Inter UI Bold Italic';
  font-style: italic;
  font-weight: 700;
  src: url('Inter-UI-BoldItalic.woff') format('woff');
  font-display: fallback;
}
